<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.alwayswan.CHANGEX</key>
		<string>CHANGEX_Development</string>
	</dict>
	<key>signingCertificate</key>
	<string>FC894A6A26C0D7948F11566743A56F45E944411B</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>97X6S8XYUY</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
